<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Translate</title>
</head>
  <body>
    <div>
      <h1>Translate</h1>
      <% if current_user %>
        <ul>
          <li><p>User: <%= current_user.id %></p></li>
          <li><p>User: <%= current_user.email %></p></li>
          <li><%= link_to 'Log out', logout_path %></li>
        </ul>
        <div>
          <%= render 'shared/translate_main_frame' %>
        </div>
        <div><%= render 'shared/histories' %></div>
      <% else %>
        <ul>
          <li><%= link_to 'Log in', login_path %></li>
          <li><%= link_to 'Register', register_path %></li>
        </ul>
        <%= render 'shared/translate_main_frame' %>
      <% end %>
    </div>
  </body>
</html>