<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Translate</title>
</head>
  <body>
    <div class= "header">
      <h1>Translate</h1>
      <% if current_user %>
        <ul>
          <li><%= link_to 'Log out', logout_path %></li>
        </ul>
        <div class = "login_translate">
          <%= render 'shared/translate_main_frame' %>
        </div>
      <% else %>
        <ul>
          <li><%= link_to 'Log in', login_path %></li>
          <li><%= link_to 'Register', register_path %></li>
        </ul>
        <%= render 'shared/translate_main_frame' %>
      <% end %>
    </div>
  </body>
</html>